@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Nanum+Gothic&display=swap');

body {
    background-color: rgba(255, 255, 255, 0.2); /* 배경 투명도 20% */
    background-image: url('Image/bg.jpg'); /* 배경 이미지 추가 */
    background-size: cover; /* 배경 이미지 크기를 화면 크기에 맞춤 */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white; /* 텍스트 색상 흰색으로 변경 */
    margin: 0;
    height: 100vh; /* 화면 전체 높이 사용 */
    overflow: hidden; /* 스크롤바 제거 */
}

.welcome-message {
    margin-top: 20px;
    text-align: left; /* 왼쪽 정렬 */
    width: 100%; /* 전체 너비 사용 */
    padding-left: 20px; /* 왼쪽 여백 추가 */
    opacity: 1; /* 투명도 제거 */
}

.welcome-message h1 {
    font-size: 4em; /* 글씨 크기 증가 */
    font-family: 'MaplestoryOTFBold', sans-serif; /* 지정한 폰트 적용 */
    line-height: 1.1; /* 줄 간격 조정 */
    margin: 0.2em 0; /* 두 줄 사이 간격 조정 */
    color: white; /* 텍스트 색상 흰색으로 변경 */
    opacity: 0; /* 처음에 보이지 않도록 설정 */
    animation: fadeIn 2s forwards;
    font-weight: bold; /* 글씨 진하게 */
}

.welcome-message h1.delay {
    animation-delay: 2s; /* 첫 번째 h1이 끝난 후에 나타남 */
}

.highlight {
    color: yellow; /* GenshinAvg 강조 색상 */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* 가운데로 내리기 */
    width: 100%;
    gap: 30px; /* 사각형 간격 넓히기 */
}

.square-section {
    background-color: #636362; /* 변경된 배경색 */
    width: 250px; /* 사각형 크기 키우기 */
    height: 250px; /* 사각형 크기 키우기 */
    display: flex;
    flex-direction: column; /* Flex 방향을 세로로 변경 */
    align-items: flex-start; /* 왼쪽 정렬 */
    justify-content: center;
    border-radius: 15px;
    color: white;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    padding: 20px; /* 패딩 추가 */
}

.square-section h2 {
    font-family: 'MaplestoryOTFBold', sans-serif; /* 제목 폰트 적용 */
    font-size: 1.5em; /* 제목 폰트 크기 */
    font-weight: bold; /* 제목 진하게 */
    margin: 0 0 10px 0; /* 제목과 설명 사이의 마진 */
}

.square-section p {
    font-family: 'Cafe24Ohsquare', sans-serif; /* 내용 폰트 적용 */
    font-size: 1em; /* 설명 폰트 크기 */
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .welcome-message h1 {
        font-size: 2em; /* 모바일에서 글씨 크기 조정 */
    }
    .square-section {
        width: 90%; /* 사각형 너비 조정 */
        height: auto; /* 사각형 높이 조정 */
        padding: 20px; /* 패딩 추가 */
    }
}
