@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Nanum+Gothic&display=swap');

body {
    background-color: #0d1b2a; /* 배경색 변경 */
    background-image: ('Image/bg.jpg'); /* 배경 이미지 추가 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    opacity: 0.5; /* 투명도 적용 */
}

.welcome-message {
    margin-top: 20px;
    font-family: 'MaplestoryOTFBold', sans-serif;
    text-align: left; /* 왼쪽 정렬 */
    width: 100%; /* 전체 너비 사용 */
    padding-left: 20px; /* 왼쪽 여백 추가 */
}

.welcome-message h1 {
    font-size: 4em; /* 글씨 크기 증가 */
    font-family: 'Nanum Gothic', 'Nunito', sans-serif; /* 예쁜 둥글둥글한 글씨체 */
    line-height: 1.1; /* 줄 간격 조정 */
    margin: 0.2em 0; /* 두 줄 사이 간격 조정 */
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.welcome-message h1:nth-child(2) {
    animation-delay: 2s;
}

.main-buttons {
    margin-top: 50px; /* 메인 버튼들에 상단 마진 추가 */
    text-align: center;
    width: 100%;
}

.main-button {
    background-color: white;
    color: navy;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    gap: 40px; /* 사각형 간격 넓히기 */
}

.square-section {
    background-color: #636362; /* 변경된 배경색 */
    width: 350px; /* 사각형 크기 키우기 */
    height: 350px; /* 사각형 크기 키우기 */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.square-section p {
    font-size: 1.5em;
    margin: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .welcome-message h1 {
        font-size: 2em; /* 모바일에서 글씨 크기 조정 */
    }
    .square-section {
        width: 90%; /* 사각형 너비 조정 */
        height: auto; /* 사각형 높이 조정 */
        padding: 20px; /* 패딩 추가 */
    }
}
